{% extends'TroiswaPublicBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }} acteur
{% endblock %}


{% block body %}

    {% for message in app.session.flashbag.get("info") %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header">Les acteurs
                    <small>La liste </small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{  path('troiswa_public_page') }}">Home</a>
                    </li>
                    <li class="active">Three Column Portfolio</li>
                </ol>
            </div>

        </div>
        <!-- /.row -->


        <div class="row">
            {% for acteur in acteurs %}
            <div class="col-md-4 portfolio-item">
                <a href="portfolio-item.html">
                    <img class="img-responsive" src="http://placehold.it/700x400">
                </a>
                <h3><a href="{{ path('troiswa_public_acteurs_controller',{'id' : acteur.id }) }}">{{ acteur.prenom|capitalize }} {{ acteur.nom|capitalize }}</a>
                </h3>
                <p>{{ acteur.biographie|capitalize }}</p>
            </div>
            {% endfor %}
        </div>


        <hr>

        <div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">4</a>
                    </li>
                    <li><a href="#">5</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>
    <!-- /.container -->

{% endblock %}