{% extends'TroiswaPublicBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }} film
{% endblock %}

{% block body %}

    {#AVANT#}
    {#{{ form(formFilm)}}#}



    {#APRES : Pour insérer du css#}
    <br>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            {{ form_start(formFilm,{'attr':{'novalidate':'novalidate'}}) }}


            {#titre#}
            <div class="form-group">
                {{ form_label(formFilm.titre,'Titre')}}
                {# <label>Prénom</label> #}

                {{ form_widget(formFilm.titre,{'attr':{'class':'form-control', 'placeholder':"Titre"}}) }}
                {# <input type="text"> #}

                {{ form_errors(formFilm.titre)}}
            </div>

            {#synopsis#}
            <div class="form-group">
                {{ form_label(formFilm.synopsis,'Synopsis')}}
                {# <label>Prénom</label> #}

                {{ form_widget(formFilm.synopsis,{'attr':{'class':'form-control', 'placeholder':"Synopsis"}}) }}
                {# <input type="text"> #}

                {{ form_errors(formFilm.synopsis)}}
            </div>

            {#description#}
            <div class="form-group">
                {{ form_label(formFilm.description,'Description')}}
                {# <label>Prénom</label> #}

                {{ form_widget(formFilm.description,{'attr':{'class':'form-control', 'placeholder':"Description"}}) }}
                {# <input type="text"> #}

                {{ form_errors(formFilm.description)}}
            </div>

            {#datecreation#}
            <div class="form-group">
                {{ form_label(formFilm.datecreation, 'Date de création')}}
                {# <label>datenaissance</label> #}

                {{ form_widget(formFilm.datecreation,{'attr':{'class':'form-control'}}) }}
                {# <input type="text"> #}

                {{ form_errors(formFilm.datecreation)}}
            </div>

            {#note#}
            <div class="form-group">
                {{ form_label(formFilm.note,'Note')}}
                {# <label>Prénom</label> #}

                {{ form_widget(formFilm.note,{'attr':{'class':'form-control', 'placeholder':"note"}}) }}
                {# <input type="text"> #}

                {{ form_errors(formFilm.note)}}
            </div>


            {{ form_widget(formFilm.ajouter,{'attr':{'class':'btn btn-primary'}}) }}

            {{ form_end(formFilm) }}
        </div>



    </div>

{% endblock %}