{% extends'TroiswaPublicBundle::layout.html.twig' %}


{% block title %}
    {{ parent() }} films
{% endblock %}

{% block body %}


<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">One Column Portfolio
                <small>Showcase Your Work</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="{{  path('troiswa_public_page') }}">Home</a>
                </li>
                <li class="active">One Column Portfolio</li>
                <div class="text-right">
                    <a class="btn btn-success" href="{{  path('troiswa_public_addfilm') }}">Ajouter un film</a>
                </div>

            </ol>
        </div>

    </div>

    {% for film in films %}
    <div class="row">


            <div class="col-md-7">
            <a href="film.html.twig">
                <img class="img-responsive" src="http://placehold.it/750x350">
            </a>
        </div>

        <div class="col-md-5">
            <h3>{{ film.titre|capitalize }}</h3>
            <h4>{{ film.synopsis|capitalize  }}</h4>
            <p>{{ film.description|capitalize  }}</p>
            <p>{{ film.datecreation|date("d/m/Y") }}</p>


            <a class="btn btn-primary" href="{{ path('troiswa_public_films_controller',{'id' : film.id}) }}">En savoir plus > <i class="fa fa-angle-right"></i></a>
        </div>



    </div>

    <hr>
    {% endfor %}


    <div class="row text-center">

        <div class="col-lg-12">
            <ul class="pagination">
                <li><a href="#">&laquo;</a>
                </li>
                <li class="active"><a href="#">1</a>
                </li>
                <li><a href="#">2</a>
                </li>
                <li><a href="#">3</a>
                </li>
                <li><a href="#">4</a>
                </li>
                <li><a href="#">5</a>
                </li>
                <li><a href="#">&raquo;</a>
                </li>
            </ul>
        </div>

    </div>

</div>
<!-- /.container -->
{% endblock %}
